<div class="ink-grid">


    <div class="box-green content-left">
      <div class="column-group">
        <h0 class="large-100 white gutter-bottom">Wikimachine</h0>
      </div>
    </div>
    

    <div class="box content-center gutters"> 
      <h5>Wikimachine allows users to build, share, and customize wikis using Markdown syntax!</h5>
    </div>

    <div class="large-50 medium-50 content-center">
      <h1 class="white">Sign In Here!</h1>
      <%= link_to "Sign In!", new_user_session_path, class: 'ink-button green' %>
    </div>

    <div class="large-50 medium-50 content-center">
      <h1 class="white">Sign Up Here!</h1>
      <%= link_to "Sign Up!", new_user_registration_path, class: 'ink-button green' %>
    </div>

    

</div>