<h1 class="content-center gutters">New Wiki!</h1>

<div class="ink-alert block info">
  <button class="ink-dismiss">&times;</button>
    <h4>Don't forget to use Markdown syntax!</h4>
      <p>
      Markdown syntax is a text-to-HTML conversion tool to add specific styling, tools, or images to their text! Want to learn more? Click <a href="http://daringfireball.net/projects/markdown/">Here!</a> This will take you to the home page for the Markdown project!
      </p>
</div>


<%= render partial: 'form', locals: { category: @category, wiki: @wiki } %>

