<h1 class="content-center"><%= @wiki.title %></h1>

<% if can? :edit, @wiki %>
<%= link_to "Edit Wiki", edit_category_wiki_path(@category,@wiki), class: 'ink-button green' %>
<% end %>

<div class="box content-center">
  <p><%= markdown @wiki.body %></p>
  <p><%= image_tag(@wiki.image_url) if @wiki.image? %></p>
</div>