<h1 class="content-center">Why should you join?</h1>  
  <div class="ink-grid">
    <div class="column-group gutters">

      
      <h2 class="content-center">Here's Why.</h2>

      <div class="large-33">
        <div class="box-green content-center">
          <h5 class="ink-label success">Because this.</h5>
        </div>
      </div>

      <div class="large-33">
        <div class="box-green content-center">
          <h5 class="ink-label success">And this.</h5>
        </div>
      </div>

      <div class="large-33">
        <div class="box-green content-center">
          <h5 class="ink-label success">And this.</h5>
        </div>
      </div>


      <div class="large-33">
        <div class="box content-center">
          <h5>Because this.</h5>
        </div>
      </div>

      <div class="large-33">
        <div class="box content-center">
          <h5>And this.</h5>
        </div>
      </div>

      <div class="large-33">
        <div class="box content-center">
          <h5>And this.</h5>
        </div>
      </div>


    </div>
  </div>

