<h1 class="content-center">Free account or Premium?</h1>  
  <div class="ink-grid">
    <div class="column-group gutters">

      
      <h2 class="content-center">You Decide!</h2>

      <div class="large-50 medium-50">
        <div class="box-green content-center">
          <h5 class="ink-label success">Free.</h5>
        </div>
      </div>

      
      <div class="large-50 medium-50">
        <div class="box-green content-center">
          <h5 class="ink-label success">Premium.</h5>
        </div>
      </div>


      <div class="large-50 medium-50">
        <div class="box content-center">
          <ul>
            <li>Create as many Wiki's as you want!</li>
            <li>All Wiki's you create are visible to anyone.</li>
            <li>All Wiki's support Markdown syntax.</li>
          </ul>
        </div>
      </div>


      <div class="large-50 medium-50">
        <div class="box content-center">
          <ul>
            <li>Make private wikis available to only those you choose.</li>
            <li>Add an unlimited amount of callaborators to your wiki.</li>
            <li>Lifetime Premium User for a small $5 donation.</li>
          </ul>
        </div>
      </div>


      <div class="large-100">
        <div class="box-green content-center">
          <h5 class="ink-label success">Ready to Join? <%= link_to "Click Here!", new_user_registration_path %></h5>
        </div>
      </div>


    </div>
  </div>
