<h1 class="content-center">Wiki Categories</h1>
<% if can? :create, Category %>
  <div class="content-center"><%= link_to "Create a New Category", new_category_path, class: 'ink-button green' %></div>
<% end %>


<% @categories.each do |category| %>
<div class="box">
  <div class="ink-grid">
    <div class="column-group horizontal-gutters">
      <h4 class="large-33 medium-33 small-33">
        <%= link_to category.name, category %>
      </h4>
      <small>
        <%= category.description %>
      </small>
    </div>
  </div>
</div>
<% end %>