
<h1 class="content-center">Wiki Categories</h1>
<% if can? :create, Category %>
  <div class="content-center"><%= link_to "Create a New Category", new_category_path, class: 'ink-button green' %></div>
<% end %>


  <% @categories.each do |category| %>
    <div class="ink-grid">
      <div class="content-center large-33 medium-33">
        <h6 class="content-center"><%= link_to category.name, category %></h6>
          <div class="box gutters">
            An image will go here later
          </div>      
      </div>
    </div>
  <% end %>

