
<div class="ink-grid">
  <div class="column-group">
    <div class="large-33 medium-33 small-100 push-center">
      <div class="box">
        <h1 class="content-center green">Wiki Categories</h1>
      </div>
    </div>
  </div>
</div>
<%# if can? :create, Category %>
  <div class="content-center"><%= link_to "Create a New Category", new_category_path, class: 'ink-button green' %></div>
<%# end %>


  <% @categories.each do |category| %>
    <div class="ink-grid">
      <div class="content-center large-33 medium-33">
        <div class="box gutters">
        <h5 class="content-center"><%= link_to category.name.capitalize!, category, class: 'class1' %></h5>
          
            <%= image_tag("/assets/green_field.jpg") %>      
          </div>      
      </div>
    </div>
  <% end %>

